#topNavbar {
    height: var(--navbar-height);
    box-shadow: 0 2px 6px rgba(0,0,0,0.12);
    z-index: 1050;
}

#sidebarToggle {
    font-size: 1.3rem;
    line-height: 1;
    text-decoration: none;
}
